<app-section [id]="'find'" iconPosition="right">
  <app-heading>На полонину є декілька маршрутів:</app-heading>

  <div class="paragraphs">
    <app-paragraph>
      <span class="count">1</span> автомобільна дорога 10 кілометрів, ще з часів Австрійської імперії...Проїхати можна
      на будь якому транспорті
      від легкового авто з хорошим кліренсом до Автобуса, час поїздки 40-60 хвилин.Автомобільна дорога дуже мальовнича,
      відкриваються гарні панорами на гори та м. Рахів, вздовж дороги ростуть та гарно цвітуть ( травень -
      червень) <a class="text-link" target="_blank" href="https://redbook-flora.land.kiev.ua/526.html">рідкісні дерева Ясінь-Білоцвіт ЧКУ</a>
    </app-paragraph>

    <app-paragraph>
      <span class="count">2</span> маршрут через амфітеатр "Буркут " лісопарк де ви прогуляєтесь старим мішаним лісом,
      Смереки, Ялини, Кедри,
      Сосни, Модрини, Буки, Граби, Ліщина, Вільха, Акація, на початку маршруту можна продегустувати мінеральну воду "
      Буркут", Зупинитись не на довго та сфотографуватись біля найбільшої Модрини у всій Європі. Маршрут стрімкий весь
      час в гору по хребту (4.5) кілометри, вийшовши з лісопарку на відкриту місцевість вам відкриються гарні панорами
      на місто та гори...
    </app-paragraph>
  </div>

  <app-trail-map class="map"></app-trail-map>

  <app-paragraph>
    <span class="count">3</span> маршрут через водоспад "Кам'яний". 4 км від центру міста в районі заправки "ОККО".
    Маршрут починається від
    центральної дороги, вздовж однойменного струмка "Кам'яний", майже весь маршрут проходить територією КБЗ. Через 1 км
    від траси буде шуміти та радувати своєю красою Водоспад, далі стежка веде старими мішаними лісами та через Букові
    праліси. Тут можна зупинитись, сфотографуватись біля Буків - Велетнів, яким майже 200 років. Обійняти ці дерева
    вдається в трьох взявшись за руки. Дерева під охороною та пронумеровані Карпатським Біосферним Заповідником.
    Вийшовши з Букових пралісів на полонину, відкривається з права хребет г. Лиса, в урочищі "Співакове" влітку тут
    можна поласувати Чорницею, а весною помилуватись галявинами з крокусами та іншими першоцвітами. Стежка в ліво веде в
    урочище "Глемея" де можна скуштувати найсмачнішу мінеральну воду " Буркут" та сфотографуватись в печері із мушлів що
    є доказом того що колись тут було море...Стежка в право веде до автомобільної дороги під горою "Камінь" на вершині
    гори 1100м н. р. м. збереглась кам'яна кладка 8x8 з часів Австрійської імперії, в даний час це оглядовий майданчик.
    Загальна протяжність маршруту через водоспад Кам'яний до полонини РОЗА ВІТРІВ 7 кілометрів
  </app-paragraph>

  <app-paragraph>
    <span class="count">4</span> Альтернативний маршрут найкоротший та найстрімкіший, Рахів - Циплин - Портош- Середне -
    Лиса гора. Протяжність
    маршруту 3 кілометри
  </app-paragraph>

</app-section>

<video class="background-video" controls muted>
  <source src="/assets/videos/video1.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<app-section [id]="'trails'" iconPosition="left">
  <div class="paragraph-column">
    <app-paragraph>
      Маршрут Гуцульські сирні плаї — це наразі унікальний для України проєкт, який поєднує туризм,
      гастрономію та культуру. За прикладом французької Дороги сирів Савої український маршрут об'єднує локації
      полонинських господарств, які є сертифікованими виробниками перших українських сирів з географічним
      зазначенням. До кінця року на карті маршруту буде щонайменше 13 локацій в Івано-Франківській і Закарпатській
      областях, а весь проєкт розвивається за підтримки Українського культурного фонду та Державного агентства
      розвитку туризму
    </app-paragraph>
    <img src="/assets/images/trail1-bg.webp">
  </div>

  <div class="paragraph-column">
    <img src="/assets/images/trail2-bg.webp">
    <app-paragraph>
      Локації Гуцульських сирних плаїв переважно сезонні, адже худоба випасається в горах з кінця травня до кінця
      вересня, водночас на полонинах виготовляється сир. У сезон нижчі локації чекають на гастро-туристів, яким
      ще кілька місяців вранішні звуки овець і корів, що гуляють гірськими хребтами, нагадуватимуть про
      виготовлення сиру від ватагів, традиційні пісні та розваги гуцульської туристичної фантастики та безліч
      краєвидів Карпат
    </app-paragraph>
  </div>
</app-section>