.home-wrapper {
  background-image: url('/assets/images/bg-images/primary-bg.webp');
  background-position: left top;
  background-size: contain;
  background-repeat: repeat-y;
  position: relative;
}
