@import 'vars.scss';

.hero-wrapper {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: 15;
  padding: 15px 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.bg {
  width: 100%;
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.bg-1 {
  top: 0;
  z-index: 1;
  background-image: url('/assets/images/bg-images/hero-bg1.webp');
  height: 92%;
  background-position: center top;
}

.bg-2 {
  bottom: 4%;
  z-index: 3;
  background-image: url('/assets/images/bg-images/hero-bg2.webp');
  height: 27%;
  background-position: center bottom;
}

.wind-rose-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.clouds {
  height: 85%;
  width: 100%;
  margin-top: 9%;
  z-index: 10;
  position: absolute;
  top: 0;
  overflow: hidden;
  user-select: none;
  pointer-events: none;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }

  &-1 {
    left: -100%;
  }

  &-2 {
    right: -100%;
  }
}

h1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  width: 100%;
  font-family: "Montserrat-700";
  font-size: 140px;
  font-weight: 700;
  line-height: 130px;
  letter-spacing: -0.06em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: transparent;
  background: linear-gradient(to bottom, rgba($primary-color, 80%), rgba(24, 87, 4, 0.8));
  -webkit-background-clip: text;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  animation: slideIn 3s ease-out forwards;
  pointer-events: none;
}

@keyframes slideIn {
  0% {
    bottom: -7%;
  }

  100% {
    bottom: 14%;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 65px;
    line-height: 85px;
    margin-bottom: 22%;
  }

  .clouds {
    height: 50%;
    margin-top: 90%;
  }

  .wind-rose-icon {
    top: 30%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  h1 {
    font-size: 87px;
    line-height: 85px;
    margin-bottom: 14%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 120px;
    line-height: 115px;
    margin-bottom: 11%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  h1 {
    margin-bottom: 12%;
  }
}

@media (min-width: 1200px) {}