<app-section [id]="'about'" iconPosition="left">
  <app-heading>Гуцульські сирні плаї</app-heading>

  <app-sub-heading>
    Це єдине місце в українських Карпатах де ви одночасно побачите перед собою неозброєним оком всі найпопулярніші
    вершини для туристів:
  </app-sub-heading>

  <app-paragraph>
    Довкола полонини з трьох боків знаходяться букові праліси які під охороною КБЗ. Вся вершина та схили лисої гори
    1158
    м над рівнем моря, весною зацвітають білосніжними підсніжниками ЧКУ більше 5 гектарів полонини радують своєю
    красою... Ця полонина є найвисокогірніша стаціонарна полонина в Українських Карпатах 1100м н. р. м., в будь яку
    пору
    року можна піднятись на полонину до овечок, кормити їх з рук, сфотографуватись та купити <a class="text-link"
      target="_blank" href="https://www.facebook.com/Бриндзарня-103882174718944/">Сир, Бриндзю, вурду, та іншу
      продукцію...</a>
  </app-paragraph>

  <app-slider [slides]="slides"></app-slider>
</app-section>